html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222;
  color: #d2d5d1;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: #d2d5d1
}
#app {
  position: relative;
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  user-select: none;
}

waveform-visualizer {
  flex: 1 1 auto;
  min-height: 0;
}

oscillator-settings {
  max-height: 100px;
}

.hidden {
  display: none;
}

button {
  display: inline-block;
  position: relative;
  border: 2px solid #aaa;
  color: #eee;
  font-weight: 500;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: .3s all ease-in-out;
  cursor: pointer;
  overflow: hidden;
  background-color: hsla(0, 0%, 100%, 0.2);
  box-shadow: 0px 0px 0px hsla(210, 100%, 53%, 0.5);
  margin: .5rem;
}

button::before {
  position: absolute;
  margin: auto;
  content: '';
  width: 250%;
  padding-top:250%;
  transform: scale(0);
  left: -70%;
  top: -70%;
  background: rgba(126, 216, 255);
  border-radius: 100%;
  transition: .15s all ease-in;
  z-index: -1;
}

@media (hover: hover) and (pointer: fine) {
  button:hover::before {
    transform: scale(1);
  }
  
  button:hover {
    color: #333;
    background-color: hsla(0, 0%, 100%, 0);
    box-shadow: 0px 0px 6px hsla(210, 100%, 20%, 0.9);
  }  
}

#addOscillator {
  flex-shrink: 0;
}